.mainContent {
  padding-top: 25px;
  font-size: 18px;
}

.mainCard {
  border-radius: 10px;
  padding: 25px 23px;
  border: 1px solid var(--color-gray-200);
  margin-bottom: 15px;
}

.summaryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.subtitle {
  font-size: 16px;
  color: var(--color-gray-500);
  margin: 15px 0px 15px 0px;
  text-align: center;
}

.name {
  font-weight: bold;
}

.suffixText {
  color: #000000;
  font-size: 18px;
  font-weight: normal;
}

.summaryBody {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 16px;
  margin-bottom: 15px;
}

.summaryInfo {
  display: flex;
  justify-content: space-between;
  width: 50%;
  color: var(--color-gray-500);
}

.label {
  margin-right: 4px;
  font-size: 16px;
  flex-grow: 1;
  /* label도 늘어나도록 설정 */
  text-align: left;
}

.amount {
  font-size: 16px;
  flex-grow: 1;
  text-align: right;
}

.detailsButton {
  color: var(--color-gray-500);
  font-size: 14px;
  text-align: right;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.arrows {
  margin-left: 3px;
}

.arrowOpen {
  transform: rotate(180deg);
}

.expenseList {
  margin-top: 16px;
}

.expenseItem {
  padding-bottom: 23px;
  display: flex;
  justify-content: space-between;
}

.expenseDate {
  color: #9ca3af;
  font-size: 12px;
}

.expensePlace {
  font-size: 16px;
  font-weight: medium;
}

.amountRow {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 14px;
  margin-bottom: 8px;
}

.amountColumn {
  display: flex;
  justify-content: space-between;
  /* 텍스트와 금액 간 양쪽 정렬 */
  width: 100%;
}

.amountLabel {
  min-width: 40px;
  margin-right: 8px;
  text-align: left;
}

.paymentAmout {
  margin-left: 4px;
  text-align: right;
}

.positiveRequestedAmount {
  color: var(--color-blue-10);
  margin-left: 4px;
  text-align: right;
}

.negativeRequestedAmount {
  color: var(--color-red);
  margin-left: 4px;
  text-align: right;
}

.userList {
  display: flex;
  flex-direction: column;
}

.card {
  border-radius: 10px;
  padding: 25px 23px;
  margin-bottom: 12px;
  border: 1px solid var(--color-gray-200);
}

.card:last-of-type {
  margin-bottom: 0px;
}

.positiveAmount {
  color: #3b82f6;
  font-weight: bold;
}

.negativeAmount {
  color: var(--color-red);
  font-weight: bold;
}

.suffix {
  font-size: 14px;
}

.userRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* isAgreed가 true일 때 적용할 스타일 */
.completedCard {
  position: relative;
  background-color: rgba(200, 200, 200, 0.7);
}

.completedCard::before {
  content: '';
  position: absolute;
  top: -2px;
  /* 테두리가 흐릿해 보이도록 경계선 바깥으로 확장 */
  left: -2px;
  right: -2px;
  bottom: -2px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(229, 231, 235, 0.3);
  backdrop-filter: blur(1.2px);
  /* 배경에 블러 효과 추가 */
  filter: blur(1px);
  /* 테두리도 흐릿하게 보이도록 추가 */
  z-index: 0;
}

.completedOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: black;
  z-index: 1;
  /* 텍스트가 블러 배경 위에 나타나도록 설정 */
}

.remainingUsers {
  margin-top: 20px;
  margin-bottom: 160px;
  text-align: center;
  font-size: 14px;
  color: var(--color-gray-500);
}

.btnWrapper {
  max-width: 430px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 50%;
  padding: 0 25px;
  transform: translate(-50%);
  position: fixed;
  bottom: 100px;
  z-index: 10; /* completedOverlay보다 높은 값 설정 */
}

.disabledButton {
  pointer-events: none;
  cursor: not-allowed;
}

.storeName {
  white-space: nowrap;
  /* 텍스트를 한 줄로 제한 */
  overflow: hidden;
  /* 넘치는 부분은 잘라냄 */
  text-overflow: ellipsis;
  /* 잘린 텍스트 뒤에 '...'을 추가 */
  max-width: 13ch;
  /* 13자까지만 표시 */
}
