.subtitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--color-gray-50);
  margin: 0 -25px -80px; /* 양쪽 margin만으로 처리 */
  height: calc(100vh - 62.4px);
  width: auto;
  overflow: hidden;
}

.image {
  margin-left: 8px;
  object-fit: contain;
  filter: grayscale(100%);
  opacity: 0.55;
  margin-bottom: -10px;
}

.errorTitle {
  font-size: 25px;
  font-weight: 500;
  color: var(--color-gray-700);
  /* margin-top: 25px; */
}

.errorSubTitle {
  font-size: 14px;
  color: var(--color-gray-700);
}

.divider {
  width: 64px;
  height: 1px;
  background-color: var(--color-gray-200);
  margin: 8px 0;
}

.errorDescription {
  font-size: 14px;
  color: var(--color-gray-600);
}
