.container {
  background-color: white;
  flex-direction: coumn;
}

.amountContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
}

/* 내 계좌 정보 */
.accountInfo h2 {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 600;
}

.balance {
  color: var(--color-gray-500);
  font-size: 16px;
  margin-bottom: 3%;
}

/* 송금할 계좌 입력 폼 */
.targetAccount h3 {
  font-size: 20px;
  font-weight: 600;
}

.input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-bottom: 1.5px solid var(--color-gray-200);
  outline: none;
  padding: 8px 0;
}

.input::placeholder {
  color: var(--color-gray-400);
}

/* 키보드 관련 스타일 업데이트 */
.keyboardContainer {
  width: 100%;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  max-width: 430px;
}

/* 버튼 위치 스타일 수정 */
.buttonLocation {
  width: 100%;
  max-width: 430px;
  padding: 10px 25px 25px 25px;
}
