/* 계좌 정보 */
.accountDetails {
  background: #f8f8f8;
  border-radius: 16px;
  padding: 20px;
  color: rgb(0, 0, 0);
  margin-top: 20px;
  transition: transform 0.3s ease;
}

.accountInfo {
  display: flex;
  flex-direction: column;
 
}

.productName {
  font-size: 14px;
  opacity: 0.8;
  letter-spacing: 0.5px;
}

.accountNumber {
  font-size: 16px;
  letter-spacing: 1px;
}

.accountBalance {
  font-size: 24px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.balanceLabel {
  font-size: 24px;
  opacity: 0.9;
}

/* 페이지 전체 스타일 */
.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  min-height: 100vh;
}

.transactionList {
  margin-top: 20px;
}

/* 거래 내역 카드 */
.transactionItem {
  background-color: #f9f9f900;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  position: relative;
}

.transactionDate {
  font-size: 12px;
  color: #333;
  margin-bottom: 10px;
  position: absolute;
  top: 10px;
  left: 20px;
}

.transactionDetails {
  display: flex;
  flex-direction: column;
}

.rcvAmount, .payAmount {
  font-size: 16px;
}

.inflowLabel {
  color: #000000; 
}

.outflowLabel {
  color: #000000; 
}

.balance {
  font-size: 14px;
  text-align: right; /* 오른쪽 정렬 추가 */
}

.detail {
  padding-top: 10px;
  font-size: 20px;
  color: #000000;
}

.rcvAmount {
  text-align: right;
  color: #0044ff;
}

.payAmount {
  text-align: right;
  color: #dc3545;
}

.transactionItem:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.transactionItem:active {
  transform: scale(0.98);
  transition: transform 0.1s;
}

.default {
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
