.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.title {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.consentList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-grow: 1;
}

.consentItem:first-of-type {
  margin-top: 15px;
}

.consentItem:last-of-type {
  margin-bottom: 15px;
}

.consentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.arrow {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.arrow.expanded {
  transform: rotate(180deg);
}

.termsContent {
  padding-top: 10px;
  font-size: 14px;
  line-height: 1.6;
  padding-left: 35px;
}

.termSection {
  margin-bottom: 10px;
}

.termSection h3 {
  font-weight: normal;
  list-style-type: circle;
}

.termSection ul {
  padding-left: 15px;
}

.termSection li {
  list-style-type: circle;
}

.btnWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 50px;
}

.btnWrapper button:disabled {
  background-color: #f3f4f6;
  color: #6b7280;
  cursor: not-allowed;
}
