/* 계좌 정보 */
.accountDetails {
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  color: rgb(0, 0, 0);
  margin-top: 20px;
  transition: transform 0.3s ease;
  border: 1px solid var(--color-gray-300);
  /* 테두리 추가 */

}

.productAndButton {
  display: flex;
  /* 수평 배치 */
  justify-content: space-between;
  /* 양쪽 끝으로 정렬 */
  align-items: center;
  /* 세로 중앙 정렬 */
  width: 100%;
  /* 가능한 공간을 모두 사용 */
}

.addHistory {
  display: flex;
  /* Flexbox 사용 */
  align-items: center;
  /* 세로 중앙 정렬 */

}

.addHistory Button {
  margin-left: auto;
  /* 버튼을 오른쪽으로 정렬 */
}

.accountInfo {
  display: flex;
  flex-direction: column;

}

.productName {
  display: flex;
  font-size: 20px;
  opacity: 0.8;
  letter-spacing: 1px;
  font-weight: 700;
}

.accountNumber {
  font-size: 16px;
  letter-spacing: 1px;
}

.accountBalance {
  font-size: 24px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.balanceLabel {
  font-size: 24px;
  opacity: 0.9;
  font-weight: bold;
}


/* 페이지 전체 스타일 */
.container {
  background-color: #ffffff;
}

.transactionList {
  margin-top: 20px;
}

/* 거래 내역 카드 */
.transactionItem {
  background-color: #f9f9f900;
  padding: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--color-gray-300);
  position: relative;
}

.transactionDate {
  font-size: 12px;
  color: var(--color-gray-700);
  margin-bottom: 10px;
  position: absolute;
  top: 10px;
  left: 20px;
}

.transactionDetails {
  display: flex;
  flex-direction: column;

}

.rcvAmount,
.payAmount {
  font-size: 16px;
}

.inflowLabel {
  color: #000000;
  font-weight: bold;
}

.outflowLabel {
  color: #000000;
  font-weight: bold;
}

.balance {
  font-size: 14px;
  text-align: right;
  /* 오른쪽 정렬 추가 */
}

.detail {
  padding-top: 15px;
  padding-left: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.rcvAmount {
  font-weight: bold;
  text-align: right;
  color: var(--color-blue-11);
}

.payAmount {
  font-weight: bold;
  text-align: right;
  color: #FF3B30;
}



.transactionItem:active {
  transform: scale(0.98);
  transition: transform 0.1s;
}

.default {
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}