.button {
  border: none;
  border-radius: 10px;
  /* 모서리를 둥글게 */
  cursor: pointer;
  transition: transform 0.2s ease;
  /* 호버 효과를 위한 트랜지션 */
}

.button:disabled {
  background-color: var(--color-gray-100);
  /* 버튼 배경색 */
  color: var(--color-gray-400);
  /* 버튼 텍스트 색상 */
  cursor: not-allowed;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 14px;
}

.xsmall {
  border-radius: 8px;
  /* 모서리를 둥글게 */
  padding: 6px 12px;
  /* 패딩 */
  font-size: 16px;
  /* 텍스트 크기 */
}

.small {
  border-radius: 8px;
  /* 모서리를 둥글게 */
  padding: 12px 18px;
  /* 패딩 */
  font-size: 16px;
  /* 텍스트 크기 */
}

.large {
  width: 100%;
  padding: 17.5px 18px;
  /* 패딩 */
  font-size: 20px;
  /* 텍스트 크기 */
  font-weight: 400;
}

.xlarge {
  width: 100%;
  /* max-width: 486px; */
  padding: 18.5px 18px;
  /* 패딩 */
  font-size: 22px;
  /* 텍스트 크기 */
  font-weight: 400;
}

.medium {
  width: 100%;
  padding: 14px 18px;
  /* 패딩 */
  font-size: 18px;
  /* 텍스트 크기 */
  font-weight: 400;
}

.primary {
  background-color: var(--color-blue-10);
  /* 버튼 배경색 */
  color: var(--color-gray-50);
  /* 버튼 텍스트 색상 */
}

.secondary {
  background-color: var(--color-blue-4);
  /* 버튼 배경색 */
  color: var(--color-blue-10);
  /* 버튼 텍스트 색상 */
}
