.keyboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  background-color: white;
}

.keyboardKey {
  -webkit-tap-highlight-color: transparent; /* iOS에서 터치 하이라이트 제거 */
  user-select: none; /* 텍스트 선택 방지 */
  background-color: white;
  border: none;
  max-height: 80px;
  padding: 12%;
  font-size: 27px;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gray-700);
}

.keyboardKey:active,
.keyboardKey.active {
  background-color: var(--color-gray-100);
}
