.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 18px;
}

.content {
  font-size: 14px;
  color: var(--color-gray-500);
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
}