.paymentContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin: 21px 0 25px 0;
}

.paymentWrapper {
  width: 100%;
}

.date {
  color: var(--color-gray-500);
  font-size: 14px;
}

.noMore {
  width: 100%;
  text-align: center;
  color: var(--color-gray-500);
  /* font-size: 14px; */
  margin-top: 10px;
}

.loadingWrapper {
  width: 100%;
  text-align: center;
}

.errorContainer {
  width: 100%;
  padding: 110px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.errorImage {
  /* width: 100%; */
  text-align: center;
  opacity: 0.65;
}

.errorText {
  color: var(--color-gray-500);
  font-size: 14px;
}
