.nav {
  box-sizing: border-box;
  width: calc(100% + 50px);
  min-height: 57.67px;
  margin-left: -25px;
  display: flex;
  align-items: center;
  padding: 15px 27px;
  border-bottom: 1px solid var(--color-gray-200);
  font-weight: 500;
}

.back {
  cursor: pointer;
}

.label {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: var(--color-gray-950);
  font-weight: 500;
}
