.toastBody {
    font-family: inherit;
    color: #333;
    font-size: 14px;
    padding: 12px 16px;
}

.toastProgress {
    background: #ef4444;
}

:global(.Toastify__toast--error) .toastBody {
    color: #ef4444;
}

:global(.Toastify__toast--success) .toastBody {
    color: #22c55e;
}