.container {
  width: 100%;
  max-width: 430px;
  height: calc(100svh - 80px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox용 */
  -ms-overflow-style: none; /* IE/Edge용 */
}

.container::-webkit-scrollbar {
  display: none; /* Chrome, Safari용 */
}

.headerBackground {
  width: 100%;
  max-width: 430px;
  left: 50%;
  transform: translate(-50%);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.header {
  width: calc(100% - 50px);
}

.optionWrapper {
  padding-top: 30px;
  padding-bottom: 15px;
}

.dateSelect {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.historyWrapper {
  margin-top: 180px;
  padding-bottom: 85px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submitButtonBackground {
  width: 100%;
  max-width: 430px;
  left: 50%;
  transform: translate(-50%);
  bottom: 0px;
  padding-bottom: 100px;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitButtonWrapper {
  width: calc(100% - 50px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
