/* 기본 모달 스타일 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.modalContent {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff; /* 밝은 배경색 */
  width: 100%;
  max-width: 430px;
  /* min-height: 500px; */
  display: flex;
  gap: 0;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 40px;
  border-radius: 20px 20px 0 0; /* 상단만 둥글게 */
  z-index: 100;
}

.inputPinNumberText {
  margin-top: 35px;
  margin-bottom: 40px;
  color: var(--color-gray-800);
  font-size: 20px;
  font-weight: 600;
}

.pinInputContainer {
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
}

.pinInput {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.pinCircle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: var(--color-gray-300);
  transition: background-color 0.2s ease;
}

.filled {
  background-color: var(--color-yellow-6);
}

/* 키패드 */
.keyboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  touch-action: manipulation; /* 터치 시 클릭 모션 비활성화 */
}

.keyboardKey {
  -webkit-tap-highlight-color: transparent; /* iOS에서 터치 하이라이트 제거 */
  user-select: none; /* 텍스트 선택 방지 */
  background: white;
  border: none;
  font-size: 22px;
  /* font-weight: 500; */
  width: 100%; /* 가로 꽉 차게 */
  padding-top: 20%; /* 세로 비율로 패딩 설정 */
  padding-bottom: 20%; /* 세로 비율로 패딩 설정 */
  padding-right: 0; /* 불필요한 오른쪽 패딩 제거 */
  padding-left: 0; /* 불필요한 왼쪽 패딩 제거 */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease;
  margin: 0 auto;
  box-sizing: border-box; /* 패딩 포함해서 크기 계산 */
  touch-action: manipulation; /* 터치 시 클릭 모션 비활성화 */
  outline: none; /* 포커스 아웃라인 제거 */
  color: var(--color-gray-700);
}

.keyboardKey.active {
  background-color: transparent; /* 기본 active 상태 스타일 제거 */
}
.keyboardKey.customActive {
  background-color: var(--color-gray-100);
}

/* 에러 메시지 */
.error {
  color: #d32f2f; /* 에러 메시지 색상 */
  font-size: 14px;
  text-align: center;
  display: block; /* 항상 공간을 유지하게 설정 */
  margin: 5px 0;
}

.hidden {
  opacity: 0;
}

.closeButton {
  position: absolute; /* 절대 위치 지정 */
  top: 20px;
  right: 20px;
  font-size: 20px;
  color: var(--color-gray-400); /* 회색 */
  cursor: pointer;
}
