.background {
    position: fixed;
    top: 20px;
    /* Adjust as needed */
    right: 2px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Align items to the start of the container */
    z-index: 9999;
    width: 400px;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 100%;
    position: relative;
    /* Ensure it stays within the fixed container */
}

.closeButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #888;
    position: absolute;
    top: 10px;
    right: 10px;
}

.logTitle {
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

.logMessage {
    color: #666;
}

/* Animations */
@keyframes slideInRight {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOutRight {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.slideIn {
    animation: slideInRight 0.5s ease forwards;
}

.slide-out {
    animation: slideOutRight 0.5s ease forwards;
}