.accountBalance {
    font-size: 24px;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }

  .balanceLabel {
    font-size: 24px;
    opacity: 0.9;
    font-weight: bold;
  }
  