.container {
  width: 100%;
}

.menu {
  margin-top: 16px;
}

.paymentContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin: 21px 0 25px 0;
}

.paymentWrapper {
  width: 100%;
}

.date {
  color: var(--color-gray-500);
  font-size: 14px;
}
