/* 전체 컨테이너 */
.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main {
  flex: 1;
  padding-top: 20px;
}

/* 금액 입력 영역 */
.amountContainer {
  display: flex;
  flex-direction: column;
}

.accountInfo {
  text-align: center;
}

.accountInfo h2 {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-gray-700);
  /* margin-bottom: 5px; */
}

.accountInfo span {
  font-weight: 400;
  /* margin-bottom: 5px; */
}

.balance {
  color: var(--color-gray-500);
  font-size: 16px;
}

.amountDisplay {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 5%;
  color: var(--color-gray-900);
}

.currency {
  color: var(--color-blue-10);
  font-weight: 400;
  font-size: 28px;
}

.placeholder {
  color: var(--color-gray-800);
  font-size: 24px;
}

.keyboardContainer {
  width: 100%;
  position: fixed;
  left: 50%;
  bottom: 0;
  max-width: 430px;
  transform: translate(-50%);
}

/* 숫자 입력 키패드 */
.keyboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* 키보드 버튼 스타일 */
.keyboardKey {
  background-color: white;
  border: none;
  max-height: 80px;
  padding: 12%;
  font-size: 28px;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gray-700);
}

.keyboardKey:active {
  background-color: var(--color-gray-100);
}

.accountInfo {
  flex: 1;
}

.handleSendMoney {
  width: 100%;
  max-width: 430px;
  padding: 10px 25px 25px 25px;
}

.won {
  margin-top: 8px;
  font-size: 12pt; /* 글자 크기를 12포인트로 설정 */
  font-weight: normal; /* 글자 굵기를 보통으로 설정 */
}
